.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none;
    }
}

.form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
  
.form-button:hover {
    background-color: #0056b3;
}

.investment-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.investment-item:hover {
    transform: scale(1.02);
}

.investment-details {
    font-size: 18px;
    margin-bottom: 8px;
}

.investment-amount {
    font-size: 16px;
    margin-bottom: 8px;
}

.investment-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.delete-button {
    background-color: #ff0800;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button:hover {
    background-color: #b2180a;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.investment-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.investment-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.investment-form button {
    background-color: #4ae028;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.investment-form button:hover {
    background-color: #4ca50c;
}

.investment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-filter {
    margin-top: 20px;
    margin-bottom: 20px;
}